# =====================================
# Build Folders
# =====================================
bin/
obj/
out/

# =====================================
# User-specific files
# =====================================
*.user
*.suo
*.userosscache
*.sln.docstates

# =====================================
# NuGet
# =====================================
*.nupkg
packages/
*.nuget.cache
project.lock.json
project.fragment.lock.json

# =====================================
# Entity Framework / Local DB
# =====================================
*.db
*.sqlite
*.mdf
*.ldf
Migrations/DesignTimeDbContextSnapshot.cs

# =====================================
# Visual Studio / VSCode
# =====================================
.vs/
.vscode/
*.code-workspace

# =====================================
# Logs
# =====================================
*.log

# =====================================
# OS Generated
# =====================================
.DS_Store
Thumbs.db
desktop.ini

# =====================================
# Docker

*.env

# =====================================
# JetBrains Rider
# =====================================
.idea/
*.sln.iml

# =====================================
# Rider + VS + ReSharper caches
# =====================================
_ReSharper*/
*.DotSettings.user
*.DotSettings
